.block-ad{
    min-height: 100px;
    background-color: #fff;
    border: 1px solid #eaedef;
}
.block-ad .sale{
    width: 25%;
    margin: 0 2%;
    float: left;
}
.block-ad .sale-img{
    width: 80px;
    height: 80px;
    margin: 10px auto;
    text-align: center;
    color: #fff;
    overflow: hidden;
    background-image: url("../images/sale_img.png");
}
.block-ad .sale-img span{
    font-style: italic;
    padding-top: 18px;
    font-size: 12px;
    display: block;
}
.block-ad .sale-img p{
    font-size: 18px;
}
.block-ad .text-ad h3{
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 20px 0;
}
.block-ad .text-ad{
    float: left;
    width: 40%;
    margin: 0 2%;
    min-height: 100px;
    position: relative;
}
.block-ad .text-ad h3{
    font-size: 22px;
    color: #34404b;
    text-transform: uppercase;
    padding-top: 18px;
    text-align: left;
}
.block-ad .text-ad p{
    font-size: 12px;
    margin: 5px;
    color: #495662;
    text-align: left;
}
.block-ad .text-ad::after{
    content: "";
    display: block;
    width: 1px;
    height: 45px;
    background-color:  #f5f5f6;
    position: absolute;
    right: 10px;
    top: 27px;
}
.block-ad .price-ad{
    float: left;
    width: 23%;
    margin: 0 2%;
    min-height: 100px;
}
.block-ad .price-ad p{
    color: #ff5912;
    font-size: 25px;
    line-height: 100px;
}
.block-ad .price-ad p::before{
    content: "";
    height: 21px;
    width: 22px;
    display: inline-block;
    margin-right: 20px;
    background-image: url("../images/card_plus.png");
}
/*----------------block-ad-2-----------------*/
.ad-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}
.ad-2 p{
    margin: 3px 0;
}