.site-header{
    background-color: #fff;
    color: #28313b;
}
.header-line{
    padding: 12px 0;
    border-bottom: 1px solid #edeff1;
}
.header-line .header-ico{
    margin: 0 10px;
}
.header-line .block-570{
    min-height: auto;
}
.header-line a{
    text-decoration: none;
    color: #28313b;
}
.header-line .contacts a{
    margin-right: 10px;
}
.main-logo img{
    margin-top: 30px;
}
.main-nav{
    margin-top: 35px;
}
.main-nav li{
    float: left;
    margin: 0 10px;
}
.main-nav ul::after{
    content: "";
    display: block;
    clear: both;
}
.main-nav a{
    text-decoration: none;
    color: #28313b;
}
.main-nav li{
    list-style: none;
}
.main-nav .active{
    color: #ff5912;
}
.main-nav a:hover{
    color: #ff5912;
}
.icon-line{
    margin-top: 30px;
}
.icon-line img{
    margin: 0 10px;
}
.card{
    position: relative;
}
.card-count{
    content: "6";
    position: absolute;
    background-color: #44525e;
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    top: -20px;
    right: 12px;
    color: #fff;
}
.block-600{
    float: left;
    width: 47.3847%;
    margin: 0 1.25%;
}




