*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    box-sizing: border-box;
    background-color: #f6f8f9;
    font-family: Arial, Tahoma, sans-serif;
    color:#44525e;
    font-size: 18px;
}
h1, h2, h3,h4, p{
    margin: 0;
}
h3{
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin: 70px 0 20px 0;
}
.products-h1{
    margin: 100px 0 50px 0;
}
.color-orange{
    color: #ff7013;
}
.description{
    text-align: center;
}
.price{
    color: #ff7013;
    font-weight: bold;
}

/*----------grid----------*/
.container{
    width: 1200px;
    margin: 10px auto;
}
.row{
    margin: 0;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.text-center{
    text-align: center;
}
.text-orange{
    color: #ff5912;
}
.text-right{
    text-align: right;
}
.bold{
    font-weight: bold;
}
.block-270{
    float: left;
    margin: 0 1.25%;
    width: 22.5%;
    min-height: 100px;
}
.block-370{
    float: left;
    width: 30.83333%;
    min-height: 100px;
    margin: 0 1.25%;
}
.block-570{
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
}
.block-670{
    float: left;
    width: 55.83%;
    margin: 0 1.25%;
    min-height: 100px;
}
.block-900{
    float: left;
    width: 72.5%;
    margin: 0 1.25%;
    min-height: 100px;
}
.block-1170{
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    min-height: 100px;
}
.block-170{
    float: left;
    width: 14.166666%;
    margin: 0 1.25%;
    min-height: 100px;
}
/*-------------------end grid-------------*/

.goods-block{
    margin: 80px 0;
}
.goods-block::after{
    content: "";
    display: block;
    clear: both;
}
.goods-card{
    background-color: #fff;
    min-height: 350px;
    text-align: center;
    margin:  0 0 20px 0;
}
.goods-card img{
    margin-top: 30px;
}
.goods-card .title-card{
    margin: 10px 0;
}
.goods-card .price-card{
    color: #ff7013;
    margin: 15px 0 10px;
}
/*--------------------best-sales-------------------*/
.best-sales{
    background-color: #fff;
    padding: 20px;
    margin-top: 70px;
}
.best-sales img{
    max-width: 40%;
}
.best-sales-description{
    float: right;
    width: 60%;
}
.best-sales-description img{
    max-width: 100%;
    position: relative;
    top: 6px;
}
.best-sales-description .price{
    text-align: right;
    display: inline-block;
    width: 50%;
}
.best-sales-description p{
    margin-top: 20px;
}
/*--------------------end best-sales-------------------*/

/*--------------------letter-------------------*/
.letter{
    background-color: #fff;
    margin: 120px 0;
    min-height: 100px;
    padding: 10px;
    line-height: 100px;
}
.letter .join-us{
    background-color: #ff5913;
    border: none;
    color: #fff;
    padding: 15px 25px;
    text-transform: uppercase;
}
.news-letter span{
    color: #ff5912;
    text-transform: uppercase;
    font-weight: bold;
}
.type-email img{
    margin-right: 10px;
}
/*--------------------end letter-------------------*/

/*----------------------divider-----------------------*/
.divider{
    background-color: #fff;
    text-align: center;
    min-height: 60px;
    margin: 0 0 115px 0;
    line-height: 60px;
}
.divider .circle{
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #ff7013;
}
/*----------------------end divider-----------------------*/
