*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    box-sizing: border-box;
    background-color: #f6f8f9;
    font-family: Arial, Tahoma, sans-serif;
    color:#44525e;
    font-size: 18px;
}
h1, h2, h3,h4, p{
    margin: 0;
}
h3{
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin: 70px 0 20px 0;
}
.products-h1{
    margin: 100px 0 50px 0;
}
.color-orange{
    color: #ff7013;
}
.description{
    text-align: center;
}
.price{
    color: #ff7013;
    font-weight: bold;
}

/*----------grid----------*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.row{
    margin: 0;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.text-center{
    text-align: center;
}
.text-orange{
    color: #ff5912;
}
.text-right{
    text-align: right;
}
.bold{
    font-weight: bold;
}
.block-270{
    float: left;
    margin: 0 1.25%;
    width: 22.5%;
    min-height: 100px;
}
.block-370{
    float: left;
    width: 30.83333%;
    min-height: 100px;
    margin: 0 1.25%;
}
.block-670{
    float: left;
    width: 55.83%;
    margin: 0 1.25%;
    min-height: 100px;
}
.block-770{
    float: left;
    width: 64.16666%;
    margin: 0 1.25%;
    min-height: 100px;
}
.block-570{
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
}
.block-900{
    float: left;
    width: 72.5%;
    margin: 0 1.25%;
    min-height: 100px;
}
.block-1170{
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    min-height: 100px;
}
.block-170{
    float: left;
    width: 14.166666%;
    margin: 0 1.25%;
    min-height: 100px;
}
/*-------------------end grid-------------*/

.goods-block{
    margin: 80px 0;
}
.goods-block::after{
    content: "";
    display: block;
    clear: both;
}
.goods-card{
    background-color: #fff;
    min-height: 350px;
    text-align: center;
    margin:  0 0 20px 0;
}
.goods-card img{
    margin-top: 30px;
}
.goods-card .title-card{
    margin: 10px 0;
}
.goods-card .price-card{
    color: #ff7013;
    margin: 15px 0 10px;
}
/*--------------------best-sales-------------------*/
.best-sales{
    background-color: #fff;
    padding: 20px;
    margin-top: 70px;
}
.best-sales img{
    max-width: 40%;
}
.best-sales-description{
    float: right;
    width: 60%;
}
.best-sales-description img{
    max-width: 100%;
    position: relative;
    top: 6px;
}
.best-sales-description .price{
    text-align: right;
    display: inline-block;
    width: 50%;
}
.best-sales-description p{
    margin-top: 20px;
}
/*--------------------end best-sales-------------------*/

/*--------------------letter-------------------*/
.letter{
    background-color: #fff;
    margin: 120px 0;
    min-height: 100px;
    padding: 10px;
    line-height: 100px;
}
.letter .join-us{
    background-color: #ff5913;
    border: none;
    color: #fff;
    padding: 15px 25px;
    text-transform: uppercase;
}
.news-letter span{
    color: #ff5912;
    text-transform: uppercase;
    font-weight: bold;
}
.type-email img{
    margin-right: 10px;
}
/*--------------------end letter-------------------*/

/*----------------------divider-----------------------*/
.divider{
    background-color: #fff;
    text-align: center;
    min-height: 60px;
    margin: 0 0 115px 0;
    line-height: 60px;
}
.divider .circle{
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #ff7013;
}
/*----------------------end divider-----------------------*/
/*----------------------slider-on-top-----------------------*/
.slider-on-top-bg{
    background-image: url("../images/slider_1.png");
    background-size: cover;
    min-height: 650px;
    display: flex;
    align-items: center;
}
.slider-on-top{
    width: 70%;
    overflow: hidden;
}
.slider-on-top h2{
    text-transform: uppercase;
    margin: 20px 0;
}
.slider-on-top p{
    margin: 20px 0;
}
/*----------------------end slider-on-top-----------------------*/

@media screen and (max-width: 768px){
    .block-1170,
    .block-900,
    .block-770,
    .block-670,
    .block-570,
    .block-370,
    .block-300,
    .block-270,
    .block-170 {
        width: auto;
        min-height: auto;
        float: none;
        margin: 0;
    }
    .md-1,
    .md-2,
    .md-3,
    .md-4,
    .md-6,
    .md-8,
    .md-10,
    .md-12{
        float: left;
        margin: 0 1.25%;
    }
    .md-1{
        width: 5.8333%;
    }
    .md-2{
        width: 14.1666%;
    }
    .md-3{
        width: 22.5%;
    }
    .md-4{
        width: 30.8333333%;
    }
    .md-6{
        width: 47.5%;
    }
    .md-8{
        width: 64.166667%;
    }
    .md-10{
        width: 80.83334%;
    }
    .md-12{
        width: 97.5%;
    }
    .md-center{
        text-align: center;
    }
    .md-mr-bottom{
        margin-bottom: 20px;
    }
    .icon-line{
        margin: 20px 0;
    }
    .slider-on-top-bg{
        min-height: 350px;
    }
    .divider{
        margin: 0px 0 40px;
    }
    .best-sales{
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
/*------------------mobile-500px-------------*/
@media screen and (max-width: 500px){
    .block-1170,
    .block-900,
    .block-770,
    .block-670,
    .block-570,
    .block-370,
    .block-300,
    .block-270,
    .block-170 {
        width: auto;
        min-height: auto;
        float: none;
        margin: 0;
    }
    .sm-1,
    .sm-2,
    .sm-3,
    .sm-4,
    .sm-6,
    .sm-8,
    .sm-10,
    .sm-12{
        float: left;
        margin: 0 1.25%;
    }
    .sm-1{
        width: 5.8333%;
    }
    .sm-2{
        width: 14.1666%;
    }
    .sm-3{
        width: 22.5%;
    }
    .sm-4{
        width: 30.8333333%;
    }
    .sm-6{
        width: 47.5%;
    }
    .sm-8{
        width: 64.166667%;
    }
    .sm-10{
        width: 80.83334%;
    }
    .sm-12{
        width: 97.5%;
    }
    .sm-center{
        text-align: center;
    }
    .sm-left{
        text-align: left;
    }
    .sm-right{
        text-align: right;
    }
    .sm-mr-bottom{
        margin-bottom: 20px;
    }
    .icon-line{
        margin: 20px 0;
    }
    .slider-on-top-bg{
        min-height: 350px;
    }
    .divider{
        margin: 0px 0 40px;
    }
    .best-sales{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .site-footer ul{
        list-style: none;
        padding: 0;
    }
}