*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    box-sizing: border-box;
    background-color: #f6f8f9;
    font-family: Arial, Tahoma, sans-serif;
    color:#44525e;
    font-size: 18px;
}
h1, h2, h3,h4, p{
    margin: 0;
}
h3{
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
.color-orange{
    color: #ff7013;
}
.description{
    text-align: center;
}
.container{
    width: 1200px;
    margin: 10px auto;
}

/*----------------после был коммент-----------*/
.goods-block{
    margin: 80px 0;
}
.goods-block::after{
    content: "";
    display: block;
    clear: both;
}
.goods-card{
    background-color: #fff;
    min-height: 350px;
    text-align: center;
}
.goods-card img{
    margin-top: 30px;
}
.goods-card .title-card{
    margin: 10px 0;
}
.goods-card .price-card{
    color: #ff7013;
    margin: 15px 0 10px;
}
/*----------------до был коммент-----------*/

.row{
    margin: 0 -1.25%;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.block-370{
    float: left;
    width: 30.83333%;
    margin: 0 1.25%;
    min-height: 100px;
}
.block-270{
    float: left;
    margin: 0 1.25%;
    width: 22.5%;
}
.block-170{
    float: left;
    width: 14.166666%;
    margin: 0 1.25%;
    min-height: 100px;
}
